@import "../../styles/variables.scss";

.itemPost {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  .itemHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    width: 100%;

    h3,
    span {
      margin: 0;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
    }

    span {
      color: $secondary;
    }
  }
}
