@import "./utils.scss";

.postListing {
  display: flex;
  flex-direction: column;
  width: 100%;

  a {
    & + a {
      margin-top: 1.6rem;
    }
  }
}

.article {
  width: 100%;

  code,
  iframe {
    overflow: auto;
    display: block;
    max-width: 100%;
    width: 100%;
  }

  pre {
    background-color: #1e1e1e;
    border-radius: 4px;
    overflow: auto;
    font-size: 14px;
    margin-bottom: 1.2rem;
    padding: 2.8rem 1.4rem 1.6rem;
    border-radius: 12px;
    overflow: hidden;
    background-image: url("/assets/window-buttons.png");
    background-repeat: no-repeat;
    background-size: 44px 10px;
    background-position: 16px 14px;

    &:focus {
      outline: none;
    }
  }

  img {
    width: 100%;
    display: block;
  }

  p {
    code {
      display: inline-block;
      width: fit-content;
      padding: 4px 8px;
      border-radius: 4px;
      background: #1b1b1b;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.5;
      margin: 0 4px -9px;
    }
  }
}
