@import "../../styles/utils.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: -webkit-fill-available;
  min-height: -webkit-fill-available;

  @extend .container;

  &.center {
    justify-content: center;
    padding-top: unset;
    padding-bottom: unset;
  }
}
